/*Nav Bar*/




*{
    margin: 0;
    padding: 0;
}
.main-nav{
    display: flex;
    align-items: center;
    height: 5vh;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-grow: 1;
}
.nav-a-main{
    flex-shrink: 0;
    flex-grow: 1;
}
.nav-img{
    height:inherit;
    flex-shrink: 0;
    flex-grow: 0;
    justify-content: center;
    align-content: center;
}
.nav-a{
    padding :0px 10px;
    font-size: 20px;
    flex-wrap: wrap;
    flex-shrink: 0;
    flex-grow: 1;
    color: grey;

}
.nav-a:hover{
    color: black;
    font-size: 22px;
}
.nav-blank{
    height: inherit;
    width: 20%;
    flex-shrink: 0;
    flex-grow: 1; 
}
.nav-login_search-icon {
    display: flex;           
    align-items: center; 
    justify-content: space-evenly;
    flex-shrink: 0;
    flex-grow: 1;
    gap: 10px;  
    font-size: 20px;
    flex-wrap: wrap;
    color: grey;
}
.nav-b{
    color: grey;
}

.nav-b:hover{
    color: black;
    font-size: 22px;
}
.nav-icon:hover{
    color:black;
    cursor: pointer;
    font-size: 22px;
}

/*Nav End*/