*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    
}

/*Header*/

.nav{
    height: 60px;
    width: 100%;
    align-content: center;
    display: flex;
}
/*nav-logo*/
.logo{
    background-image: url("TECHLY.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    height: 60px;
    width: 80px;
    margin: 20px;
    align-items: center;
    justify-content: center;
}
/*nav-home*/
.nav-option{
    height: 60px;
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    justify-content:flex-start;
}
.nav-option-home{
    color: black;
    background-color: white;
    height: 60px;
    padding: 20px;
}
.nav-option-shop{
    color: black;
    background-color: white;
    height: 60px;
    padding: 20px;
}
.nav-option-about-us{
    color: black;
    background-color: white;
    height: 60px;
    padding: 20px;
}
.nav-option-blog{
    color: black;
    background-color: white;
    height: 60px;
    padding: 20px;
}
.nav-option-contactus{
    background-color: white;
    height: 60px;
    padding: 20px;
}

.text{
    color: grey;
    font-size: 17px;
}
.text:hover{
    color: black;
    cursor: pointer;
    text-decoration: underline;
    font-size: 20px;
}


.blank{
    width: 40%;

    height: 60px;
}

.login{
    height: 60px;
    padding: 20px;
}


.search-icon{
    width: 60px;
    height: 60px;
    justify-content: center;
    display: flex;
    font-size: 1rem;
    align-items: center;
}
.search-icon:hover{
    cursor: pointer;
    font-size: 1.5rem;
}
.shopping-icon{
    width: 60px;
    height: 60px;
    justify-content: center;
    display: flex;
    font-size: 1rem;
    align-items: center;
}
.shopping-icon:hover{
    cursor: pointer;
    font-size: 1.5rem;
}


.main-content{
    background-color: black;
    height: 700px;
    background-image: url("HEADPHONE.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin: 20px;
    width: 97%;

}
.main-content2{
    display: flex;
}
.earphone{
    background-color: #737373;
    height: 350px;
    background-image: url("EAR.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin: 20px;
    width: 25%;
}
.smartwatch{
    height: 350px;
    background-image: url("Smartwatch.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin: 20px;
    width: 25%;
}
.laptop{
    height: 350px;
    background-image: url("LAPTOP.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin: 20px;
    width: 50%;
    
}
.main-content3{
    display: flex;
}
.gaming-console{
    height: 350px;
    background-image: url("LAPTOP.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin: 20px;
    width: 50%;

}
.vision{
    background-color: #737373;
    height: 350px;
    background-image: url("EAR.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin: 20px;
    width: 25%;
}
.speaker{
    height: 350px;
    background-image: url("Smartwatch.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
    margin: 20px;
    width: 25%;
}

.online-seva{
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
}
.free-shipping{
    display: flex;
    justify-content: space-evenly;
}
.shipping-logo{
    background-image: url("Freeshipping.jpg");
    height: 50px;
    width: 50px;
    background-size: cover;
}
.text-seva{
    text-align: left;
    align-items: center;
    height: 100px;
    width: 200px;
}

.line-1{
    color: black;
}
.line-2{
    color: grey;
}
.money-return{
    background-image: url("tick.png");
    height: 50px;
    width: 50px;
    background-size: cover;
}
.money-back{
    display: flex;
    justify-content: space-evenly;
}

.twntyfor{
    background-image: url("24:7.jpg");
    height: 50px;
    width: 50px;
    background-size: cover;
}
.service{
    display: flex;
    justify-content: space-evenly;
}

.payment-logo{
    background-image: url("Payment.jpg");
    height: 50px;
    width: 60px;
    background-size: cover;
}
.payment{
    display: flex;
    justify-content: space-evenly;
}
.main-image-2{
    background-image: url("Mainimage-2.jpg");
}

.main-image-2{
    height: 840px;
    background-image: url("Mainimage-2.jpg");
    background-repeat: no-repeat;
    background-size:contain;
    border-radius: 20px;
    margin: 20px;
    width: 1460px;
}

.main-content-3{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    
}
.same{
    width: 25%;
    background-color:#737373;
    height: 400px;
    margin: 20px;
    border-radius: 30px;
}
.product-image-1{
    background-image: url("Image1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height:400px ;
    border-radius: 20px;
}
.text-field{
    border-radius: 20px;
    height: 50px;
    text-align: center;
}
.text-1{
    font-size: 20px;
}
.text-1:hover{
    font-weight: bold;
    text-decoration: underline;
}
